name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Set up SSH key
      run: |
        echo "${{ secrets.EC2_KEY }}" > ~/devansh_github.pem
        chmod 400 ~/devansh_github.pem

    - name: Deploy to EC2
      run: |
        ssh -o StrictHostKeyChecking=no \
            -i ~/devansh_github.pem \
            ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
              cd /home/ubuntu/github_release_monitor
              git pull origin main
              docker compose down
              docker compose build
              docker compose up -d
        EOF