name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DB_NAME: test_db
      DB_USER: test_user
      DB_PASSWORD: test_password
      DB_HOST: localhost
      DB_PORT: 5432
      DATABASE_URL: postgresql://test_user:test_password@localhost:5432/test_db


    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      

      - name: Run Tests
        run: |
          python -m pytest 




# jobs:
#   build:
#     runs-on: ubuntu-latest

#     
#     steps:
#       - uses: actions/checkout@v3

#       - uses: actions/setup-python@v4
#         with:
#           python-version: "3.10"

#       - run: pip install -r backend/requirements.txt
#       - run: python backend/manage.py migrate --noinput
#       - run: python backend/manage.py test

# name: CI Pipeline

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout Code
#       uses: actions/checkout@v3

#     - name: Set up Python
#       uses: actions/setup-python@v3
#       with:
#         python-version: '3.10'

#     - name: Install Dependencies
#       run: |
#         pip install -r backend/requirements.txt

#     - name: Run Tests
#       run: |
#         python backend/pytest
